<!DOCTYPE html>

<html>
<head>
    <title>Documentation</title>
    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.jpg"

</head>
<body>
    {{>header}}
    <a href="https://github.com/CankayaUniversity/ceng-407-408-An-SaaS-Platform-for-Ridesharing-Taxi-Cab-Food-Delivery-and-Shipping/">Github Repository</a>
    <a href="https://github.com/CankayaUniversity/ceng-407-408-An-SaaS-Platform-for-Ridesharing-Taxi-Cab-Food-Delivery-and-Shipping/blob/master/Documentation/An%20SaaS%20Platform%20for%20Ridesharing%20Taxi%20Cab%20Food%20Delivery%20and%20Shipping%20Project%20Report.pdf">Project Report</a>
    <a href="https://drive.google.com/open?id=1988M0ePyAD1dvRC9144fvnSb6wNfpLVO">Project Work Plan</a>
    <a href="https://github.com/CankayaUniversity/ceng-407-408-An-SaaS-Platform-for-Ridesharing-Taxi-Cab-Food-Delivery-and-Shipping/wiki/Literature-Review">Literature Review</a>
    <a href="https://github.com/CankayaUniversity/ceng-407-408-An-SaaS-Platform-for-Ridesharing-Taxi-Cab-Food-Delivery-and-Shipping/wiki/Software-Requirements-Specification">Software Requirements Specification</a>
    <a href="https://github.com/CankayaUniversity/ceng-407-408-An-SaaS-Platform-for-Ridesharing-Taxi-Cab-Food-Delivery-and-Shipping/wiki/Software-Design-Document">Software Design Document</a>
    <a href="https://github.com/CankayaUniversity/ceng-407-408-An-SaaS-Platform-for-Ridesharing-Taxi-Cab-Food-Delivery-and-Shipping/wiki/Installation-Guide">Installation Guide</a>
    <a href="https://github.com/CankayaUniversity/ceng-407-408-An-SaaS-Platform-for-Ridesharing-Taxi-Cab-Food-Delivery-and-Shipping/wiki/User-Manual">User Manual</a>
    {{>footer}}
</body>

</html>