<!DOCTYPE html>

<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.jpg"
    <script src="/js/server.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}

        Check us on <a href="https://github.com/CankayaUniversity/ceng-407-408-An-SaaS-Platform-for-Ridesharing-Taxi-Cab-Food-Delivery-and-Shipping/">Github</a>.
        <br>
        See  <a href="/docs">docs page</a>.
    </div>
    
    {{>footer}}

</body>

</html>